*,*:before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

#nav {
    font-size: 1.3em;
}

#about-me {
    font-size: calc(1em + 0.3vw);
    margin-top: 60px;
}

.skills-head {
    text-transform: uppercase;
    font-weight: normal;
    opacity: 60%;
    text-align: right;
    vertical-align: top;
}

.skills {
    vertical-align: top;
    padding-left: 30px;
    padding-bottom: 30px;
}

.skills-row {
    padding-bottom: 10px;
}

.skills-list {
    list-style-type: none;
}

.skills-titles {
    font-weight: bold;
    text-transform: uppercase;
}

.icon-container {
    display: flex;
    justify-content: center;
}

.icons {
    /* position: absolute;
    top: 9px; */
    /* font-size: 150%; */
    color: #0275d8;
}

.portfolio-card {
    height: 23rem;
    width: 18rem;
}